.booking {
  padding-top: 30px;
  padding-bottom: 49px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.booking__slogan {
  display: block;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.booking__text {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #333333;
}
