.button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  transition-duration: 0.2s;

  &--submit {
    width: 87.5%;
    margin: 0 auto;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }

  &--disabled {
    background-color: #e5e5e5;
    pointer-events: none;
    cursor: default;
  }

  &--modal-error {
    width: 180px;
    margin: 0 auto;
    font-size: 18px;
  }
}

@media (min-width: @tablet-width) {
  .button {
    margin-left: 14.6%;
    margin-right: 14.6%;

    &--submit {
      text-align: left;
      width: 50%;
      padding-left: 10%;
      margin: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .button {
    margin-left: 26.2%;
    margin-right: 26.2%;

    &--submit {
      padding-left: 15.7%;
      margin: 0;
    }
  }
}
