.feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--blue {
    padding-top: 40px;
    color: #ffffff;
    background-color: #81b3d2;
  }

  &--gray {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000000;
    background-color: #eeeeee;
  }

  &--first {
    padding-top: 60px;
    order: -2;
  }

  &--additional {
    order: -1;
  }
}

.feature__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__slogan {
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.feature__number {
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.feature__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.feature__img {
  margin-top: 40px;
}
