.feature {
  &--blue {
    color: #ffffff;
    background-color: #81b3d2;
  }

  &--gray {
    color: #000000;
    background-color: #eeeeee;
  }

  &--first {
    order: -2;
  }

  &--additional {
    order: -1;
  }
}

.feature__description {
  margin-left: 6.25%;
  margin-right: 6.25%;
  padding-top: 40px;
  text-align: center;

  &--first {
    padding-top: 60px;
  }

  &--gray {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--border {
    border-bottom: 1px solid #d6d6d6;
  }

  &--last {
    border-bottom: none;
  }
}

.feature__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.feature__number {
  display: block;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.feature__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.feature__img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
