.greeting {
  padding-bottom: 16px;
  background-color: #ffffff;
  color: #000000;
}

.greeting__wrapper {
  margin-bottom: 39px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #a2c8de;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, bottom;
  background-size: contain, cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("img/bg-back-mobile@2x.jpg");
  }
}

.greeting__img {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 213px;
  margin-top: 90px;
  margin-bottom: 85px;
}

.greeting__slogan {
  display: block;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .greeting {
    padding-bottom: 28px;
  }

  .greeting__wrapper {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: contain, cover;
    background-position: center bottom, bottom;
    margin-bottom: 50px;
  }

  .greeting__img {
    margin-top: 76px;
    margin-bottom: 90px;
    width: 460px;
    height: 350px;
  }

  .greeting__slogan {
    padding-left: 21%;
    padding-right: 21%;
    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: @tablet-width) and (min-resolution: @retina-dpi), (min-width: @tablet-width) and (min-resolution: @retina-dppx) {
  .greeing__wrapper {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .greeting__wrapper {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
  }

  .greeting__slogan {
    padding-left: 27%;
    padding-right: 27%;
  }
}

@media (min-width: @desktop-width) and (min-resolution: @retina-dpi), (min-width: @desktop-width) and (min-resolution: @retina-dppx) {
  .greeting__wrapper {
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
  }
}
