.intrduction {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;

  &--form {
    padding-bottom: 20px;
  }
}

.intrduction__wrapper {
  min-height: 158px;
  background-color: #a2c8de;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.intrduction__img {
  margin: 0 auto;
  margin-top: 52px;
}

.intrduction__title {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: 6.25%;
  margin-right: 6.25%;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.intrduction__text {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-left: 6.25%;
  margin-right: 6.25%;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: normal;
}
