.main-footer {
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-top: 34px;
  padding-bottom: 23px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.main-footer__instagram {
  margin-bottom: 36px;
}

.main-footer__social {
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 39px;
    align-items: center;
  }

  .main-footer__instagram {
    width: 33.33%;
    margin-bottom: 0;
    padding-left: 7.8%;
    box-sizing: border-box;
    text-align: left;
  }

  .main-footer__social {
    width: 33.33%;
    margin-bottom: 0;
  }

  .main-footer__copyright {
    width: 33.33%;
    padding-top: 0;
    padding-right: 7.8%;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__instagram {
    padding-left: 10%;
  }

  .main-footer__copyright {
    padding-right: 10%;
  }
}
