.main-footer {
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-top: 32px;
  padding-bottom: 23px;
  background-color: #ffffff;
  color: #000000;
}

.main-footer__instagram {
  margin-bottom: 36px;
}

.main-footer__social {
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 0;
    padding-left: 7.8%;
    padding-right: 7.8%;
  }

  .main-footer__instagram {
    padding-top: 43px;
    padding-bottom: 36px;
    margin-bottom: 0;
    margin-right: 17.5%;
  }

  .main-footer__social {
    margin-bottom: 0;
    margin-right: auto;
    padding-top: 33px;
    padding-bottom: 39px;
  }

  .main-footer__copyright {
    padding-top: 42px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-footer__instagram {
    padding-top: 43px;
    padding-bottom: 36px;
    margin-bottom: 0;
    margin-right: 28%;
  }

  .main-footer__social {
    margin-bottom: 0;
    margin-right: auto;
    padding-top: 33px;
    padding-bottom: 36px;
  }

  .main-footer__copyright {
    padding-top: 42px;
  }
}
