.main-footer {
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-top: 32px;
  padding-bottom: 23px;
  background-color: #ffffff;
  color: #000000;
}

.main-footer__instagram {
  margin-bottom: 36px;
}

.main-footer__social {
  margin-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 39px;
    align-items: center;
  }

  .main-footer__instagram {
    width: 33.33%;
    margin-bottom: 0;
  }

  .main-footer__social {
    width: 33.33%;
    margin-bottom: 0;
  }

  .main-footer__copyright {
    width: 33.33%;
    padding-top: 0;
  }
}
