.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__item {
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
}

.photo__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding-left: 6.25%;
  padding-right: 6.25%;
}

.photo__img {
  margin-bottom: 20px;
  align-self: center;
}

.photo__name {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__inner {
  margin-bottom: 20px;
}

.photo__author {
  color: #333333;
  background-color: #ffffff;
  padding-right: 4px;
}

.photo__author-name {
  color: #333333;
  background-color: #ffffff;
}
