.review {
  background-color: #ffffff;
}

.review__fieldset {
  margin: 0;
  padding: 0;
  padding-left: 6.25%;
  padding-right: 6.25%;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  color: #000000;
  background-color: #ffffff;

  &--last {
    padding-bottom: 50px;
    border: none;
  }
}

.review__title {
  padding: 0;
  margin: 0;
  padding-top: 40px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.review__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &--contacts {
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: 27px;
      right: 0;
      width: 58px;
      height: 58px;
      background-repeat: no-repeat;
      background-color: #e6e6e6;
      background-position: center;
    }
  }

  &--impression {
    margin-bottom: 55px;

    &:last-of-type {
      margin-bottom: 50px;
    }
  }

  &--sight {
    margin-bottom: 65px;

    &:last-of-type {
      margin-bottom: 45px;
    }
  }

  &--textarea {
    margin-bottom: 0;
  }

  &--email {
    &::before {
      background-image: url("../img/icon-mail.svg");
    }
  }

  &--tel {
    &::before {
      background-image: url("../img/icon-phone.svg");
    }
  }
}

.review__input-text {
  flex: 1;
  min-width: 50px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 22px;
  padding-right: 58px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
  }
}

.review__label-name {
  flex-grow: 0;
  margin-right: 14px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}

.review__label-contacts {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}

.review__label-choise {
  position: relative;
  padding-left: 80px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  &--impression {
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -13px;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: #f2f2f2;
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      width: 22px;
      height: 22px;
      left: 17px;
      top: 3px;
      border-radius: 50%;
      background-color: #333333;
    }
  }

  &--sight {
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -12px;
      width: 56px;
      height: 56px;
      background-color: #f2f2f2;
      border-radius: 4px;
    }

    &::after {
      display: none;
      position: absolute;
      content: "";
      width: 26px;
      height: 18px;
      top: 9px;
      left: 18px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
    }
  }
}

.review__input-choice[type="radio"]:checked ~ .review__label-choise--impression::after {
  display: block;
}

.review__input-choice[type="checkbox"]:checked ~ .review__label-choise--sight::after {
  display: block;
}

.review__textarea {
  flex: 1;
  min-height: 160px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  resize: vertical;
  border: none;
  background-color: #f2f2f2;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
  }
}
