.video {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.video__slogan {
  display: block;
  margin-bottom: 35px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.video__description {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.video__clip {
  display: block;
  margin: 0 auto;
}

.video__control {
  position: relative;
  margin: 0 auto;
  margin-top: -77px;
  width: 280px;
  z-index: 2;
}

.video__play {
  min-height: 45px;
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__scale {
  position: relative;
  margin-top: 21px;
  margin-left: 8.2%;
  margin-right: 7.85%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video__bar {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 15%;
}

.video__toggle {
  position: absolute;
  top: -3px;
  left: 15%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
}

.video__settings {
  min-height: 66px;
  background-color: #f2f2f2;
}
